body.base{
    font-size:12px;
}
#login{
max-width: 350px;
margin-left:40%;
margin-top: 10%;
}
#btn-login{
    margin-left: 35%;
}
.flash-messages{
    max-width: 400px;
    margin-left: 30%;
}
ol, ul, li {
    list-style: none;
}
#project-title, #issue-title{
    width: 200px;
}
#project-group, #issue-group{
    width:200px;
    position: relative;
    overflow-y: auto;
    height: 800px;
    overflow-x: hidden;
    border-right: 1px solid #E5E5E5;
}
#project-list{
    float:left;
    position: relative;
}
a.project{
    position:relative;
    z-index: 99999;
}
div#dashboard-summary{
    margin-top: 20px;
}
th#total-issues-table-row{
    border-top: none;
}
.table>tbody>tr>th.blank-table-header{
    border-top: None;
}
#total-issues-summary-table{
    border: None;
    font-size:11px;
}
#table-itr1{
    background: #E3E5E5;
}
#table-itr2{
    background: #E5E3E3;
}
#table-total{
    background: #DAE3E5;
}
.highlight-row{
    background: #FFFFE0;
}
.highlight-row-sub{
    background: #FCF8E3;
}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../../images/facebook.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
