<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>
        {% block title %}
        {% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="../static/css/app/main.css">
        <link rel="stylesheet" href="../static/css/vendor/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Suez+One" rel="stylesheet"> 
    </head>
    <body class='base'>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% block navbar %}
        {% endblock navbar %}

        {% block flashed_messages %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="container flash-messages">
                    {% for message in messages %}
                        <div class="alert alert-warning" role="alert">{{ message }}</div> 
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
        {% endblock flashed_messages %}


        {% block content %}
        {% endblock content %}

		
        {% block error %}
        {% endblock error %}

        <div class="modal"><!-- Place at bottom of page --></div>

        <script src="../static/js/vendor/jquery.min.js"></script>
        <script src="../static/js/vendor/bootstrap.min.js"></script>
        <script src="../static/js/vendor/bootstrap.bootpag.min.js"></script>
        <script type="text/javascript">$('#issue-group').hide();
            $('#issue-title').hide();</script>
        <script src="../static/js/app/main.js"></script>

    </body>
</html>
