{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
	      PYIRA
      </a>
    </div>
  </div>
</nav>
{% endblock navbar %}

{% block content %}
<form role="form" method="post" action="" name="login">
<div class="container" id="login">
    {{ form.hidden_tag() }}
    <h1>Login:</h1><br/>
    <p>
    Enter your JIRA user name: <br>
    {{ form.username(size=80) }}<br>
    {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}<br>
    </p>

    <p>
    Enter your JIRA password: <br>
    {{ form.password(size=80) }}<br>
    {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}<br>
    </p>

<button type="submit" class="btn btn-primary" id="btn-login">Login</button>
</div>
</form>
{% endblock content %}

