{% extends "base.html" %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
<form role="form" method="post" action="" name="login">
<div class="container" id="login">
    {{ form.hidden_tag() }}
    <h1 id="logo">JIRA Client.</h1><br/>
    {{ form.username(size=80, class="form-control", placeholder="JIRA User Name") }}
    {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}
    {{ form.password(size=80, class="form-control", placeholder="JIRA Password") }}
    {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
          {% endfor %}

<button type="submit" class="btn btn-primary btn-block" id="btn-login">Login</button>
</div>
</form>


{% endblock content %}

