{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
	      PYIRA
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{ session['username'] }}</a></li>
        <li><a href="{{ url_for('logout') }}"> Logout </a></li>
    </ul>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container col-md-3">
    {% set count = 1 %}

    <div id="project-group">
        <div id="project-title" class="panel panel-default">Projects </div>
       
    {% for project in project_data %}
    <li> 
        <a class="project" data-project-key="{{ project.key }}" href="/index/{{ project.key }}">{{
            project.key }}</a>
    </li>
    {% set count = count + 1 %}     
  
    {% endfor %}
</div>
<div class="container col-md-3">
    <div id="issue-group">
<div id="issue-title" class="panel panel-default">Issues</div>
<div id="issue-list"></div>
    </div>
</div>
{% endblock content %}

