{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
	      PYIRA
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">{{ session['username'] }}</a></li>
        <li><a href="{{ url_for('logout') }}"> Logout </a></li>
    </ul>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container col-sm-3">
    {% set count = 1 %}

    <div id="project-group">
        <div id="project-title" class="panel panel-default">Projects </div>
       
    {% for project in project_data %}
    <li data-key= {{ project.key }}>{{ project.key }}</li>
    {% set count = count + 1 %}     
  
    {% endfor %}
</div>
{% endblock content %}

